@use '../base/shortcut-functions' as f;
@use './modules' as modules;

html {
  @include f.rem-base-font-size;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'Hiragino Sans', 'メイリオ', 'Meiryo', sans-serif;
}

body {
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'palt';
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  margin-inline: auto;
  width: min(100% - 2rem, 108rem);
  min-height: 100vh;
}

.bg-gradient {
  background-image: linear-gradient(
    to right,
    rgba(106, 225, 255, 1),
    rgba(194, 158, 218, 1),
    rgba(91, 105, 230, 1)
  );
}

img {
  width: 100%;
  height: auto;
}

.is-loading {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
  }
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
