@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.blog {
  .lower-header {
    padding: 2.5rem;
    background-image: linear-gradient(to right, #f1f1f1, #f1f1f1, #f6dfaf);
    border-radius: 2rem;

    .inner {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
    }

    .lead {
      font-size: 1.4rem;
    }
  }

  .list {
    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      margin: 1rem 0 0 0;

      li {
        padding: 1.6rem;
        height: 10rem;
        border-radius: 2rem;

        &:nth-child(1) {
          background-color: #685cdd;
        }

        &:nth-child(2) {
          background-color: #313442;
        }

        &:nth-child(3) {
          background-color: #e4e4e7;
        }

        &:nth-child(4) {
          background-color: #4e4e56;
        }

        &:nth-child(5) {
          background-color: #171717;
        }

        a {
          position: relative;
        }

        h3 {
          color: #fff;
          font-size: 1.4rem;
        }

        p {
          color: #d4d4d8;
          font-size: 1.4rem;
        }

        .arrow {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}
