@use '../../base/shortcut-functions' as f;
@use '../modules' as modules;

.blog {
  .lower-header {
    padding: 2.5rem;
    background-image: linear-gradient(to right, #f1f1f1, #f1f1f1, #f6dfaf);
    border-radius: 2rem;

    .inner {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
    }

    .lead {
      font-size: 1.4rem;
    }
  }

  .post {
    .inner {
      margin: 8rem 0 0 0;
    }

    .post-list {
      li {
        + li {
          margin: 2.4rem 0 0 0;
        }
        a {
          display: inline-flex;
          time {
            color: #706f6c;
            font-size: 1.4rem;
          }

          h3 {
            margin: 0 0 0 4rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
