@use '../base/shortcut-functions' as f;

.c-projectpreview {
  overflow: hidden;

  &.dark {
    h2 {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
    }

    p {
      color: #d4d4d8;
    }
  }

  h2 {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    color: #71717a;
    font-size: 1.4rem;
  }

  a {
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
  }

  figure {
    margin: 1rem 0 0 0;
    height: 24rem;
    overflow: hidden;

    .img {
      height: 100%;
      object-fit: contain;
    }
  }
}
