@use '../base/shortcut-functions' as f;

.c-projectpreview {
  overflow: hidden;

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    .inner {
      background-size: 80%;
      background-position: 50% 96%;
    }
  }

  &:nth-child(6),
  &:nth-child(7) {
    .inner {
      background-size: 80%;
      background-position: 50% 80%;
    }
  }

  &.dark {
    h2 {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
    }

    p {
      color: #d4d4d8;
    }
  }

  .inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  h2 {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    color: #71717a;
    font-size: 1.4rem;
  }

  a {
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
  }
}
